:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    max-height: 100vh;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  img {
    width: 100%;
    max-height: 400px;
    object-fit: contain;
  }
  
  .slides {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  
    & .slide {
      display: none;
    }
  
    & .slide.active {
      display: block;
    }
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
  }